node_modules/
/frontend/node_modules/

target/
*.jar
*.class
.DS_Store
.idea/
*.iml

dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem

# local env files
.env*.local
.env
.env-auth
.env-post
.env-gateway
.env-user

# typescript
*.tsbuildinfo

# generated native folders
ios/
android/
/frontend/ios
/frontend/android

.expo/
frontend/.expo

backend/post-service/src/main/resources/db/data/city-pulse-google-cloud-account.json