# --- Registration Service ---

# Server & API Configuration
APP_PORT=8083
APP_API_VERSION=v1

# Kafka Configuration
KAFKA_CONSUMER_GROUP_ID=registration-service-group
KAFKA_TOPIC_USER_DELETED=user-deleted
