# --- Shared environment variables for all services ---

# --- Spring Properties ---
SPRING_PROFILES_ACTIVE=prod
SPRINGDOC_ENABLED=true

# --- Database Connection Properties ---
SPRING_DATASOURCE_URL=your_db_url
SPRING_DATASOURCE_USERNAME=your_db_username
SPRING_DATASOURCE_PASSWORD=your_db_password

# --- Internal Service URLs ---
AUTH_SERVICE_URL=http://auth-service:8081
POST_SERVICE_URL=http://post-service:8082
REGISTRATION_SERVICE_URL=http://registration-service:8083
USER_SERVICE_URL=http://user-service:8084
STORAGE_SERVICE_URL=http://storage-service:8085
MOBILE_BFF_SERVICE_URL=http://mobile-bff-service:8086
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# --- Observability ---
OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4318/v1/traces
LOKI_URL=http://loki:3100
TRACING_SAMPLING_PROBABILITY=1.0
MANAGEMENT_HEALTH_SHOW_DETAILS=always
