# --- API Gateway ---

# Server & API Configuration
APP_PORT=8080
APP_API_VERSION=v1

# OAuth2 Configuration
AUTH_JWK_SET_URI=${AUTH_SERVICE_URL}/api/v1/.well-known/jwks.json
AUTH_ISSUER_URI=${AUTH_SERVICE_URL}
