# --- Storage Service ---

# Server & API Configuration
APP_PORT=8085
APP_API_VERSION=v1

# Kafka Configuration
KAFKA_CONSUMER_GROUP_ID=storage-service-group
KAFKA_TOPIC_FILE_DELETED=file-deleted

# Local Storage Configuration
STORAGE_MAX_FILE_SIZE=10MB
STORAGE_MAX_REQUEST_SIZE=12MB
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=dev_minio_user
STORAGE_SECRET_KEY=dev_minio_password
STORAGE_BUCKET=citypulse-local-bucket

# Prod Storage Configuration
GCP_PROJECT_ID=
GCP_CLIENT_ID=
GCP_PRIVATE_KEY_ID=
GCP_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\YOUR-SECRET-KEY\n-----END PRIVATE KEY-----\n
GCP_CLIENT_EMAIL=
GCP_BUCKET_NAME=
