# --- Auth Service ---

# Server & API Configuration
APP_PORT=8081
APP_API_VERSION=v1

# JWT Security Configuration
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=30d
JWT_TEMPORARY_TOKEN_TTL=10m
JWT_ISSUER=http://auth-service:8081
JWT_ACTIVE_KEY_ID=key-1
JWT_PRIVATE_KEY_PATH=file:/app/secrets/jwt/private.pem
JWT_PUBLIC_KEY_PATH=file:/app/secrets/jwt/public.pem

# OAuth2 Google Configuration
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=

# Database Configuration
DB_SCHEMA=auth_schema
